<div class="container " xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    
    <div class="container col-md-3 col-md-10"> 
        <p align="center"><img src="img/Logo.png" alt="Logo Carol Leal" ></p> 
    </div>
    <div class="container col-xs-4 col-sm-9 "> 
        <a class="btn-primary" ng-href="#!/admin/producto">Producto</a>
        <a class="btn-primary" ng-href="#!/admin/categoria">Categoria</a>
    </div>
    
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

</div>
