<html>
    <head>
        <title>Factura</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div>Factura de venta</div>
            <div>   Carol Leal</div>
            
            <table>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Valor</th>
                    <th>Valor Por Proucto</th>
                </tr>
                <tbody>
                    <tr>
                        <th>{nombreProducto}</th>
                        <th>{cantidadCompra}</th>
                        <th>{costoProducto}</th>
                        <th>{costoToralProducto}</th>
                    </tr>
                </tbody>
            </table>

            <div>Total Factura</div>
            <div>{totalCompra}</div>
        </div>
    </body>
</html>
